<!DOCTYPE html>
<html ng-app = "myApp">
    <head>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/my.css"/>
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/server.js"></script>
    </head>
    <body background="bg-pic.jpg" ng-controller = "mainController as main" >
       <section class="container-fluid" ng-controller = "classController as cls"> 
           
            <ul class="nav nav-pills">
                <li ng-class = "{ avtive:cls.selected(1) }">
                    <a href ng-click="cls.select(1)">Name</a>
                </li >  
                <li ng-class = "{ avtive:cls.selected(2) }">
                    <a href ng-click="cls.select(2)">Date</a>
                </li>
                <li ng-class = "{ avtive:cls.selected(3) }">
                    <a href ng-click="cls.select(3)">Picture</a>
                </li>
           </ul>
<!--           {{tab}}-->
            <div class = "section" ng-show="cls.selected(1)">Ofir Nagadi</div>
            <div class = "section" ng-show="cls.selected(2)">{{cls.day +'/'+cls.month+'/'+cls.year}}</div>
            <div class = "section" ng-show="cls.selected(3)"><img src="smilie.jpg"> </div>
            
        </section>
    </body>


</html>
